# =========================
# Compiled files
# =========================
*.class

# =========================
# Build folders
# =========================
/bin/
/build/
/out/
/target/

# =========================
# Package files
# =========================
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log

# =========================
# Eclipse specific
# =========================
.project
.classpath
.settings/
.metadata/
*.launch

# =========================
# Dependency / temp
# =========================
hs_err_pid*
replay_pid*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code (if opened there)
# =========================
.vscode/